   	<center> 
    <h1>Welcome To Battleships</h1>
    <h2>Player 1, What's your name?</h2>

    <form action="/start_game">
      <input type="text" name="Player 1, First Name">
      <h2>Player 2, What's your name?</h2>
      <input type="text" name="Player 2, First Name">
      <button type="submit">Submit</button>
    </form>

    </center>
